<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" 
	package="com.androweb.application" 
	android:installLocation="auto">
	   <supports-screens
        android:anyDensity="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />
    <!--
	Remove permissions that your app doesn't require, asking for authority over unwanted information can cause damage to your reputation among your users
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- remove location.gps feature if not using permission ACCESS_FINE_LOCATION -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
		android:name="com.androweb.application.ApplicationMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
		android:resizeableActivity="true">
		
		<activity
            android:name="com.androweb.application.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <activity
            android:name="com.androweb.application.ApplicationActivity"
			android:theme="@style/AppTheme.NoActionBar"
			android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			<meta-data android:name="@string/minVersion" android:value="8"/>
			<meta-data android:name="@string/isLaunchableActivity" android:value="true"/>
        </activity>
		
		<activity
            android:name="com.androweb.application.engine.app.gallery.GalleryActivity"
			android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity
            android:name="com.androweb.application.engine.app.chrome.AWebActivity"
            android:screenOrientation="portrait" 
			android:theme="@style/SplashTheme"> <!-- remove or alter as your apps requirement -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="github.com"
                    android:pathPrefix="/AWeb41" /> <!-- if you want only a specific directory from your website to be opened in the app through external links -->
            </intent-filter>
        </activity>
		<activity android:name="com.androweb.application.engine.app.chrome.ChromeActivity" 
			android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.androweb.application.engine.app.chrome.BrowserActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
		<activity
            android:name="com.androweb.application.engine.app.dashboard.youtube.YoutubeDashboardActivity"
			android:theme="@style/YoutubeTheme.NoActionBar"
		    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			<meta-data android:name="@string/minVersion" android:value="8"/>
			<meta-data android:name="@string/isLaunchableActivity" android:value="true"/>
        </activity>
		
    </application>

</manifest>
